<header>
<a class="post" href="trainings/new">日誌を書く</a>
</header>

<div class="contents">
  <div class="date">
    <% @dates.each do |date| %>
       <% dys = date.created_at.strftime('%Y年 %m月%d日[%a]') %><% name = date.user.Nickname %>
       【↓担当者：<%= name %>】
      <p><%= link_to "#{dys}の練習", "trainings/#{date.id}", metod: :get %> </p></br>
    <% end %>
  </div>
  <%= paginate(@dates) %>
</div>

