
<div class="main_contents">
  <p>日誌を書く</p>
    <%= form_tag('/trainings', method: :post) do %>
      <input placeholder="名前" type="text" name="name"></br>
      <textarea cols="90" name="menu" placeholder="練習内容" rows="30"></textarea>
      <input type="submit" value="送信">
    <% end %>
</div>