<header>
<%= link_to "TOP", "/trainings", method: :get %>
</header>

<div class="title">
  <h3>
    <%= @trainings %>
  </h3>
</div>

<div class="name">
  <p>
    担当者【<%= @coach %>】
  </p>
</div>

<div class="menu">
  <h4>
     詳細：
  </h4>
  <span>
    <%= @menu %>
  </span>
</div>